body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

.card {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 90%;
  margin: 10px;
  padding: 8px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
